.list-container {
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
}

.time {
  font-size: 15px;
  font-weight: bold;
  color: #64748b;
  font-family: 'roboto';
  margin: 0;
  margin-right: 53px;
  margin-bottom: 8px;
}

.details-delete-container {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.app-logo {
  height: 28px;
  margin-right: 23px;
}

.title-link-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.title {
  font-family: 'roboto';
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #475569;
  margin-right: 8px;
}

.app-link {
  font-size: 15px;
  font-weight: 400;
  font-family: 'roboto';
  color: #64748b;
  margin: 0;
  margin-right: 15px;
}

.delete-container {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .app-logo {
    height: 23px;
    margin-top: 5px;
  }

  .list-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .details-delete-container {
    align-self: stretch;
  }

  .title-link-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
